
body{
    font-family: sans-serif;
}

#period-list {
    cursor: move;
    padding: 1rem;
    background-color: rgb(220, 110, 134);
    border: 1px solid #B8324F;
    color: white;
    position: relative;
    width: 50%;
    border-radius: 12px;
}

#product-list{
    align-self:center;
    display: flex;
    flex-direction:column;
}

li.dragging{
    opacity: .5;
}

#product-image{
    size: 50px;
    width: 250px;
    height: 200px;
    border: 1px solid #B8324F;

}

.drag-drop{
    height: 400px;
    color: #B8324F;
    align-items: center;
    text-align:center;
    align-items: center;
    text-align:center;
    width:25%;
}

h1{
    text-size-adjust: 40%;
}

#category-button{
    width:150px;
    margin-top:20px;
}

#drop2{
    position: relative;
    float:left;
    margin: auto;
    
}
#list{
    position: relative;
    align-items: center;
    text-align:center;
    margin: center;
    align-content: center;
    flex-direction:column;


}
#drop1{
    position: relative;
    float:left;
    margin: auto;

}

.java{
    display:flex;
    justify-content: space-around;
}

body {
    margin: 0;
    padding: 0;
}
.logo {
    text-align: center;
    background-color: rgb(220, 110, 134);
    color: white;
    padding: 0.5em;
}
#website-title{
    text-align: center;
}
#website-title{
    text-align: center;
}
#period-bar {
    height: 15vh;
    background: rgb(220, 110, 134);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3vh;
}

button {
    background-color: #B8324F;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 12px;
    cursor: pointer;
    border-radius: 12px
}

#detail-desc{
    text-align:left;
    margin: auto; 
    float:left;
    position: relative;
    margin-right: 37.5%;
    margin-left: 20px;
    margin-top: 10px;
}

#detail-image{
    height:200px;
    margin:auto;
    float: left;
    position: relative;
    width:25%;
    border: 1px solid #B8324F;
    position: relative;
    width:25%;
    border: 1px solid #B8324F;
}

#detail-name{
    margin-left: 20px;
    align-self: flex-start; 
    text-align: left;
    left:45%;
    margin-top:20px;

}

.detail-box{
    align-content: center;
    margin-left: 30%;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}