li {
    cursor: move;
}

li.dragging{
    opacity: .5;
}

div.over{
    display:none
}

#drag-drop1.over {
    color:gray;
}

#drag-drop2.over {
    color:gray;
}

img{
    width: 50px;
    position: absolute;
    left: 50%;
}

.drag-drop{
    display: table;
}

h1{
    text-size-adjust: 50%;
}